@media (min-width: 1500px) {
    .head{
        background: #f3f3f3;
    }
    .head-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        padding: 20px 20px;
    }
    .head-menu{
        padding: 0px 20px;
    }
    .head-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .head-menu ul li {
        list-style: none;
    }
    .head-menu ul li a {
        display: inline-block;
        font-family: MontserratL;
        font-size: 16px;
        padding: 44px 35px 45px 35px;
        text-decoration: none;
    }
    .head-menu ul li a:hover {
        background: #FFF;
    }

    .head-contacts{
        padding: 17px 20px;
    }
    .head-contacts p {
        text-align: right;
    }
    .main-tel {
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        color:#e63c24;
        text-decoration: none;
    }
    .mobile-tel {
        font-family: MontserratM;
        font-size: 12px;
        text-decoration: none;
    }
    .head-mail {
        display: inline-block;
        font-family: MontserratM;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 0px 0px 0px;
    }
    .head-city {
        font-family: MontserratM;
        font-size: 12px;
    }
    .offers {
        background: #d7d7d8;
    }
    .offers-wrap {
        padding: 10px 10px 10px 10px;
        position: relative;
    }
    .offers-wrap-close{
        height: 280px;
    }
    .offer {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-position: 0px 0px;
        background-size: 220px;
        background-repeat: no-repeat;
        text-decoration: none;
        padding: 0px 0px 0px 253px;
        height: 165px;
        background-color: #FFF;
        margin: 10px;
    }
    .offer-title {
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 20px;
    }
    .offer-price {
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        color: #e63c24;
        padding-bottom: 20px;
    }
    .offers-open-button {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        z-index: 100;
        padding: 30px 0px 20px 0px;
        text-align: center;
        background: url("/images/offers-bg.png") bottom left repeat-x;
    }
    .offers-open-button a {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 0px;
    }
    .offers-open-button a:hover {
        background: #e63c24;
    }
    .special-offer {
        border-top:1px solid #f3f3f3;
    }
    .special-offer-headers {
        background: #FFF;
        padding-top: 65px;
    }
    .special-offer-headers h3 {
        font-family: MontserratL;
        font-size: 48px;
        color: #e63c24;
        text-align: center;
        padding-bottom: 20px;
    }
    .special-offer-headers p {
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
    .special-offer-wrap {
        padding: 0px 20px;
    }
    .special-offer-flex {
        display: flex;
        align-items: stretch;
    }
    .special-offer-image img {
        width: 100%;
    }
    .special-offer-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .special-offer-text p {
        font-family: MontserratL;
        font-size: 16px;
        line-height: 24px;
        padding: 15px 0px 15px 100px;
    }
    .special-offer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: url("/images/grey-point.gif") 80px 0px repeat-y;
    }
    .special-offer-name {
        font-family: MontserratM;
        font-size: 24px;
        text-align: right;
        padding: 50px 0px 0px 100px;
    }
    .special-offer-price {
        font-family: MontserratM;
        font-size: 36px;
        text-align: right;
        padding-bottom: 50px;
    }
    .special-offer-price span {
        font-size: 14px !important;
        color: #7a7a7a;
        text-transform: uppercase;
    }
    .special-offer-button {
        padding: 75px 0px 50px;
        width: 100%;
        text-align: center;
    }
    .special-offer-button a {
        display: inline-block;
        background: #e63c24;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        padding: 15px 45px;
    }
    .special-offer-button a:hover {
        background-color: #080808;
    }
    .catalog {
        border-top:1px solid #f3f3f3;
    }
    .catalog-wrap {
        padding: 100px 125px;
    }
    .catalog-headers {
        padding: 0px 50px 0px 6px;
    }
    .catalog-headers h3 {
        font-family: MontserratL;
        font-size: 48px;
        color: #080808;
        padding: 0px 0px 20px 0px;
    }
    .catalog-headers p {
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-transform: uppercase;
        padding: 0px 0px 50px 4px;
    }
    .catalog-info {
        font-family: MontserratL;
        font-size: 16px;
        line-height: 24px;
        padding: 0px 50px 15px 10px;
    }
    .catalog-button {
        padding: 50px 50px 0px 10px;
    }
    .catalog-button a {
        display: inline-block;
        background: #080808;
        color: #FFF;
        font-family: MontserratM;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        width: 195px;
        text-align: center;
        padding: 16px 0px;
    }
    .catalog-button a:hover {
        background: #e63c24;
    }
    .catalog-item {
        text-align: center;
        padding-top: 10px;
    }
    .catalog-icon {
        width: 160px;
        height: 160px;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        background: #f3f3f3;
    }
    .catalog-icon img {
        width: auto;
        height: 100%;
        -webkit-transition: all 0.3s ease;
    }
    .catalog-item a {
        text-transform: uppercase;
        text-decoration: none;
    }
    .catalog-item a:hover {
        text-decoration: underline;
    }
    .catalog-item p {
        font-family: MontserratL;
        font-size: 14px;
        padding: 30px 0px 30px 0px;
    }
    .catalog-item a:hover img {
        -webkit-transition: all 0.3s ease;
        height: 103%;
    }
    .advantages {
        border-top:1px solid #f3f3f3;
    }
    .advantages-flex {
        display: flex;
        align-items: stretch;
    }
    .advantages-wrap {
        padding: 0px 125px 100px 125px;
    }
    .advantages-headers {
        background: #FFF;
        padding-top: 65px;
    }
    .advantages-headers h3 {
        font-family: MontserratL;
        font-size: 48px;
        color: #e63c24;
        text-align: center;
        padding-bottom: 20px;
    }
    .advantages-headers p {
        font-family: MontserratL;
        font-size: 14px;
        color: #7a7a7a;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
    .advantage {
        height: 100%;
        padding: 20px 20px 0px 20px;
        position: relative;
    }
    .advantage-icon-wrap {
        overflow: hidden;
        position: absolute;
        left: 33.33%;
        width: 125px;
        height: 125px;
        margin: 0 auto;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
    }
    .advantage-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-top: 12px;
        background: #FFF;
        border-radius: 50%;
        border: 1px solid #e3e3e3;
    }
    .advantage-text-wrap {
        height: 62%;
        background: #f3f3f3;
        border: 1px solid #e3e3e3;
        margin: 63px 0px 20px 0px;
        padding: 65px 0px 0px 0px;
    }
    .advantage-text-wrap h4 {
        font-family: MontserratL;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        padding: 30px 30px 50px 30px;
    }
    .advantage-text-wrap p {
        font-family: MontserratL;
        font-size: 14px;
        text-align: center;
        line-height: 24px;
        padding: 0px 30px 80px 30px;
    }
    .news {
        border-top:1px solid #f3f3f3;
    }
    .news-headers-wrap {
        padding: 100px 115px 0px 115px;
    }
    .news-wrap {
        padding: 0px 95px 0px 95px;
    }
    .news-block {
        display: flex;
        flex-direction: column;
        height: 230px;
        padding: 0px 30px;
    }
    .news-header a {
        display: inline-block;
        font-family: MontserratM;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .news-special a {
        color: #e63c24;
    }
    .news-header a:hover {
        text-decoration: underline;
    }
    .news-text {
        flex: 1 1 auto;
        padding-top: 30px;
    }
    .news-text p {
        padding: 0px 0px 0px 0px;
        font-family: MontserratL;
        font-size: 14px;
        line-height: 18px;
    }
    .news-date p {
        bottom: 0px;
        font-family: MontserratL;
        font-size: 12px;
        color: #ababab;
    }
    .news-button {
        margin: 75px 0px 50px 0px;
        width: 100%;
        text-align: center;
    }
    .news-button a {
        display: inline-block;
        background: #080808;
        font-family: MontserratR;
        font-size: 18px;
        color: #FFF;
        text-decoration: none;
        padding: 15px 45px;
    }
    .news-button a:hover {
        background: #e63c24;
    }

}
