@media (min-width: 1500px) {
    .head-wrapper{
        background-color: #8bb36e;
        background-image: url("/images/head-bg.jpg");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .head {
        padding: 30px 0px;
    }
    .logo {
        font-family: FiraSansM;
        font-size: 36px;
        color: #FFF;
        padding: 20px 0px;
    }
    .head-tagline {
        color: #FFF;
        font-family: FiraSansL;
        font-size: 24px;
        padding: 28px 0px;
    }
    .head-contacts {
        float: right;
        text-align: right;
        padding: 13px 0px 14px 0px;
    }
    .head-phone {
        font-family: FiraSansM;
        font-size: 24px;
        color: #FFF;
        padding: 0px 0px 10px 0px;
    }
    .head-email a {
        font-family: FiraSansL;
        font-size: 16px;
        color: #000;
    }
    .main-menu {
        background-color: #f3f3f3;
    }
    .main-menu-flex {
        display: flex;
        flex-direction: row;
        justify-items: stretch;
        justify-content: space-between;
    }
    .main-menu-flex a {
        display: block;
        width: 20%;
        text-align: center;
        padding: 10px 0px;
        text-decoration: none;
    }
    .main-menu-flex a:hover {
        color: #f1f1f1;
        background-color: #7f86b3;
    }
    .sidebar {
        margin: 30px 30px 30px 0px;
        padding: 30px 00px;
        border-radius: 15px;
        background: #f3f3f3;
    }
    .main-menu {
        padding: 0px 40px;
    }
    .main-menu li {
        padding: 0px 0px 0px 10px;
        list-style: none;
    }
    .main-menu a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        padding: 12px 0px;
    }
    .main-menu a:hover {
        text-decoration: underline;
    }
    .main-menu li ul, .main-menu li ul li ul {
        display: none;
        padding: 10px 0px 15px 0px;
    }
    .main-menu li:hover ul {
        display: block;
    }
    .content-block {
        padding: 30px 0px 30px 0px;
    }
    .breadcrumbs {
        padding: 30px 0px 20px 0px;
    }
    .content-header {
        padding: 0px 0px 30px 0px;
    }
    .categories-block {
        padding: 0px 0px 30px 0px;
    }
    .products-block {
        padding: 0px 0px 30px 0px;
    }
    .content-block {
        padding: 0px 0px 30px 0px;
    }
    .content-header h1 {
        font-family: FiraSansL;
        font-size: 36px;
    }
    .content-intro {
        padding: 0px 0px 30px 0px;
    }
    .content-intro p {
        font-family: FiraSansL;
        font-size: 16px;
        line-height: 24px;
    }
    .category-item {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-position: 0px 0px;
        background-size: contain;
        background-repeat: no-repeat;
        text-decoration: none;
        padding: 0px 0px 0px 123px;
        height: 75px;
        background-color: #fafafa;
        border-radius: 15px;
        margin: 10px;
    }
    .category-item:hover {
        background-color: #7f86b3;
    }
    .category-item:hover p {
        color: #fff;
    }
    .category-name {
        font-family: FiraSansL;
        font-size: 16px;
    }
    .product-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        background-position: 0px 0px;
        background-size: contain;
        background-repeat: no-repeat;
        text-decoration: none;
        padding: 0px 0px 0px 210px;
        height: 130px;
        margin: 10px;
        border: 1px solid #FFF;
    }
    .product-item:hover {
        border: 1px solid #f3f3f3;
        border-radius: 15px;
        background-color: #fdfdfd;
    }
    .product-name {
        font-family:FiraSansL;
    }
    .product-price {
        font-size: 24px;
        font-family: FiraSansM;
    }
    .product-price {
        padding: 0px 40px 0px 0px;
    }
    .content {
        padding: 0px 0px 30px 0px;
    }
    .content h2 {
        font-family: FiraSansL;
        font-size: 24px;
        padding: 10px 0px 20px 0px;
    }
    .content h3 {
        font-family: FiraSansM;
        font-size: 18px;
        padding: 10px 0px 20px 0px;
    }
    .content p {
        font-family: FiraSansL;
        line-height: 24px;
        font-size: 16px;
        padding: 0px 0px 20px;
    }
    .content ul, .content ol {
        padding: 0px 0px 20px 20px;
    }
    .content ul li {
        font-family: FiraSansL;
        font-size: 16px;
        line-height: 24px;
        padding: 5px 0px 5px 10px;
    }
    .content ol li {
        font-family: FiraSansL;
        font-size: 16px;
        line-height: 24px;
        padding: 5px 0px 5px 10px;
    }
    .content blockquote {
        font-family: FiraSansL;
        font-size: 16px;
        line-height: 24px;
        background-color: #f1f1f1;
        padding: 30px 30px 30px 30px;
        margin-bottom: 30px;
    }
    .content a:hover {
        color: #7f86b3 !important;
    }
    .content a:visited, .content a:link, .content a:active {
        color: #000000;
    }
    .main-info-flex {
        display: flex;
        align-items: stretch;
    }
    .info-column-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .params-wrap {
        border-top: 1px solid #f1f1f1;
    }
    .param-name {
        font-family: FiraSansL;
        font-size: 16px;
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 0px;
    }
    .param-value {
        text-align: right;
        font-family: FiraSansL;
        font-size: 16px;
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 0px;
    }
    .request-button-wrap {
        padding-top: 20px;
    }
    .request-button {
        border: 1px solid #7f86b3;
    }
    .request-button a {
        display: inline-block;
        width: 100%;
        font-family: FiraSansL;
        text-align: center;
        text-decoration: none;
        background-color: #7f86b3;
        color: #fff;
        padding: 10px 0px;
    }
    .request-button a:hover {
        color: #000;
        background-color: #f3f3f3;
    }
    .footer {
        height: 90px;
        background-color: #393939;
    }
    .footer-text {
        font-family: FiraSansL;
        font-size: 12px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        color: #f3f3f3;
        padding: 20px 0px;
    }
    .footer-text a {
        color: #f3f3f3;
    }
    .send-form {
        width: 500px;
    }
}
